<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neue Transaktion hinzufügen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<main>
    <h1>Neue Transaktion hinzufügen</h1>

    <form class="ui form" th:action="@{/transactions/add}" th:object="${transaction}" method="post">
        <div class="four wide field">
            <label for="type">Typ:</label>
            <select id="type" th:field="*{type}">
                <option value="Einnahme">Einnahme</option>
                <option value="Ausgabe">Ausgabe</option>
            </select>
        </div>

        <div class="ui right labeled input">
            <label for="amount" class="ui label">€</label>
            <input type="text" placeholder="Betrag" id="amount" th:field="*{amount}" required/>
            <div class="ui basic label">.00</div>
        </div>

        <div class="six wide field">
            <label for="description">Beschreibung:</label>
            <textarea rows="2" id="description" th:field="*{description}"></textarea>
        </div>

        <!-- Stelle sicher, dass date korrekt verarbeitet wird -->
        <input type="hidden" th:field="*{date}" th:value="${transaction.date}"/>

        <button type="submit"><i class="green save icon"></i>Speichern</button>
    </form>

    <h3><a href="#" th:href="@{/transactions}"><i class="green step backward icon"></i>Zurück zu den Transaktionen</a></h3>

</main>
</body>
</html>
