<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hilfe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<main>
    <h1>Hilfe</h1>
    <h2 class="ui center aligned icon header">
        <i class="green circular users icon"></i>
        Vereins Manager
    </h2>
    <h3 class="ui header">Allgemeine Verwaltung</h3>
    <div class="ui hidden divider"></div>
    <h3 class="ui header">Mannschaftskasse</h3>
    <div class="ui hidden divider"></div>
    <h3 class="ui header">Trikotsatz</h3>
</main>
</body>
</html>
