<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hilfe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<main>
    <h1>Hilfe</h1>
    <h2 class="ui center aligned icon header">
        <i class="green circular users icon"></i>
        Vereins Manager
    </h2>
    <h3 class="ui header">Login</h3>
    <h4>Schritte für das Login:</h4>
    <ol>
        <li>Öffne eine Web-Browser-Instanz (z.B. Google Chrome, Mozilla Firefox) auf deiner lokalen Maschine.</li>
        <li>Füge die URL http://localhost in die Adressleiste ein und drücke Enter.</li>
        <li>Dies sollte dich zum Startseite-Ansicht führen, auf dem du links eine Form für das Login sehen solltest.</li>
        <li>Eingabe deines Benutzernamens (Username) und Passworts in die entsprechenden Felder.</li>
        <li>Klicke den Button "Login" an, um deine Anmeldung zu bestätigen.</li>
    </ol>

    <h4>Schritte für die Registrierung:</h4>
    <ol>
        <li>Wenn du nicht bereits angemeldet bist, wirst du zur Startseite weitergeleitet werden.</li>
        <li>Auf der rechten Seite findest du eine Form für das Registrieren.</li>
        <li>Eingabe deines Benutzernamens (Username) und Passworts in die entsprechenden Felder.</li>
        <li>Klicke den Button "Register" an, um deine Registrierung zu bestätigen.</li>
    </ol>
    <h3 class="ui header">Allgemeine Verwaltung</h3>
    <p>Klicken Sie auf den Button "Vereins Logo hochladen" in der Mitte der Seite.</p>
    <ol>
        <li>Wählen Sie das Bild aus, das Sie als Vereinslogo verwenden möchten.</li>
        <li>Klicken Sie auf "Öffnen".</li>
        <li>Klicken Sie erneut auf den Button "Vereins Logo hochladen", um das Hochladen des Bildes abzuschließen.</li>
    </ol>
    <p>Das ist alles! Ihr neues Vereinslogo sollte nun auf Ihrer Seite erscheinen.</p>
    <div class="ui hidden divider"></div>
    <h3 class="ui header">Mannschaftskasse</h3>
    <p>Klicken Sie auf den Button "Neue Transaktion hinzufügen" in der Mitte der Seite, um eine neue Transaktion zu erstellen.</p>
    <ol>
        <li>Wählen Sie den Typ der Transaktion (Einnahme oder Ausgabe) aus dem Dropdown-Menü.</li>
        <li>Eingabe des Betrags in die entsprechende Eingabefeld. Stellen Sie sicher, dass das Datum korrekt verarbeitet wird.</li>
        <li>Beschreibung der Transaktion in den Textfeld.</li>
        <li>Klicken Sie auf "Speichern", um die Transaktion zu erstellen.</li>
    </ol>
    <p>Dies ist alles! Ihre neue Transaktion wurde erfolgreich erstellt.</p>

    <div class="ui hidden divider"></div>
    <h3 class="ui header">Trikotsatz</h3>
    <h4>Wie man einen Trikotsatz hinzufügt:</h4>
    <ol>
        <li><b>Wählen Sie den richtigen Trikot-Typ aus:</b></li>
        <ul>
            <li>Auswärts</li>
            <li>Heim</li>
        </ul>
        <li><b>Geben Sie die Anzahl an Trikots ein:</b></li>
        <p>Füllen Sie das Feld `trikotAnzahl` mit der benötigten Anzahl aus.</p>
        <li><b>Eingabe von Hosen-Informationen:</b></li>
        <ul>
            <li>Angaben zur Anzahl an Hosen (`hoseAnzahl`) und deren Größe (`hoseGroesse`).</li>
        </ul>
        <li><b>Hinzufügen von Stutzen (optional):</b></li>
        <p>Füllen Sie das Feld `stutzenAnzahl` mit der benötigten Anzahl aus.</p>
    </ol>
    <p>Nachdem alle Schritte ausgeführt wurden, klicken Sie auf den Button "Speichern", um den Trikotsatz hinzuzufügen.</p>

    <div class="ui hidden divider"></div>
    <h3 class="ui header">Meldung von Trainingseinheiten</h3>

    <p>Zu erst muss ein Trainer vorhanden sein.<br>Um einen neuen Trainer hinzuzufügen, folge bitte den folgenden Schritten:</p>

    <ol>
        <li>Klicke auf "Neuen Trainer erfassen". Dieser Button befindet sich direkt unter dem Titel.</li>
        <li>Ausfülle das Formular mit den folgenden Informationen:</li>
        <ul>
            <li>Vorname</li>
            <li>Nachname</li>
        </ul>
        <li>Klicke auf den "Speichern"-Button, um die Informationen abzusenden.</li>
    </ol>
    <p>Das Formular zur Eingabe neuer Trainer-Zeiten befindet sich hinter dem Button "Bearbeiten" </p>

    <h3>Schritt 2: Identifizierung der erforderlichen Eingaben</h3>
    <ul>
        <li>Trainingsdatum</li>
        <li>Startzeit</li>
        <li>Endzeit</li>
        <li>Trainingsart</li>
    </ul>
    <h3>Schritt 3: Identifizierung der Bestätigung</h3>
    <p>Nachdem die Eingaben erfolgt sind, wird eine Bestätigungsanzeige angezeigt.</p>

    <h3>Schritt 4: Identifizierung der Entfernung von Trainingszeiten</h3>
    <p>Um bestehende Trainer-Zeiten zu entfernen, können Sie die Schaltfläche &lt;button type="submit" class="ui red button"&gt;Entfernen&lt;/button&gt; verwenden.</p>


</main>
</body>
</html>
