<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>Teammitglieder-Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Header einbinden -->
<div th:replace="~{header :: header}"></div>

<main>
    <h1>Mitgliederliste Hochladen</h1>

    <div th:if="${message}">
        <p style="color: green;">Teamliste erfolgreich aktualisiert!</p>
    </div>

    <div th:if="${error}">
        <p style="color: red;">Fehler beim Speichern der Teamliste: <span th:text="${error}"></span></p>
    </div>

    <form class="ui form" th:action="@{/upload/teamList}" method="post" enctype="multipart/form-data">
        <div class="four wide field">
            <label for="file">Hochladen der Liste im CSV Format</label>
            <input id="file" type="file" name="csvfile" required>
        </div>
        <button class="green submit button" type="submit"><i class="green upload icon"></i>Vereins Mitglieder hochladen
        </button>
    </form>
    <h3><a href="#" th:href="@{/team}"><i class="green step backward icon"></i>Zurück zum Team</a></h3>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>
